body {
    font-family: sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

.slot {
    touch-action: none;
}

.subject-item.active {
    border-color: #cbd5e1;
    background-color: #f8fafc;
    transform: scale(0.98);
}

input[type="date"] {
    -webkit-appearance: none;
}

/* แก้ไขข้อความในช่อง Input ให้เห็นเต็ม */
#userName {
    line-height: 1.2;
    padding: 4px 0;
}
